@mixin text-hover($color, $background) {
  &:hover {
    color: $color;
    background: $background;
  }
}

.main {
  font-family: 'Helvetica';
}

// p {
//   @include text-hover(red, green);
// }

#bold-option {
  font-weight: bold;
}